article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  max-width: 1900px;
  margin: 0 auto; }

.innerWrapper {
  max-width: 1150px;
  width: 80%;
  margin: 0 auto; }

h2 {
  font-family: 'Playfair Display', serif;
  color: #222222;
  font-size: 4.8rem;
  text-align: center;
  margin: 0; }

header h2 {
  text-transform: uppercase; }

.welcome h2 {
  text-transform: none; }

.popular h2 {
  color: white; }

.popularServices h2, .products h2 {
  color: #222222;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: none; }

.products h2 {
  text-align: left; }

.promotions h2 {
  text-transform: none;
  font-size: 2rem;
  margin-bottom: 2rem; }

.productInfo h2, .blogFeed h2 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: none; }

.bookingText h2 {
  color: white;
  text-transform: none;
  text-align: center; }

h3 {
  font-family: 'Poppins', sans-serif;
  color: #444444;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0; }

.welcome h3 {
  color: #426947;
  font-size: 1.4rem; }

.popular h3, .products h3 {
  color: #eeeeee;
  font-size: 1.4rem; }

.products h3 {
  text-align: left; }

.popularServices h3, .promos h3, .products h3 {
  color: #444444; }

.promotions h3 {
  margin-top: 2rem;
  font-size: 1.2rem; }

.productInfo h3, .blogFeed h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #426947;
  margin-top: 2rem; }

.bookingText h3 {
  color: white;
  font-size: 1.4rem;
  text-align: center; }

.testimonialText h3 {
  color: #426947;
  font-size: 1.4rem;
  text-align: center; }

h4 {
  font-family: 'Playfair Display', serif;
  color: #444444;
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
  margin: 0; }

.popular h4 {
  color: #eeeeee; }

.products h4 {
  font-size: 1.4rem;
  text-align: left; }

.bookingText h4 {
  color: white;
  margin: 2rem 0; }

p {
  font-family: 'Playfair Display', serif;
  color: #444444;
  font-size: 1.8rem; }

.topBar p {
  font-size: 1.3rem; }

.topBar ul li {
  font-size: 1.3rem;
  padding-left: 1rem; }

.welcome p {
  text-align: center; }

.productInfo p {
  font-family: 'Poppins', serif;
  font-size: 1.8rem;
  text-align: center;
  color: #C03A3A; }

p.blogMetadata {
  color: #C03A3A;
  font-size: 1.4rem;
  font-style: italic;
  text-align: center; }

.blogPost p {
  font-size: 1.4rem;
  text-align: center; }

.bookingText p {
  color: white;
  font-size: 1.4rem;
  text-align: center; }

.bookingText a {
  color: white; }

.testimonialText p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem; }

p.clientName {
  color: #C03A3A;
  font-family: 'Poppins', serif; }

.footerBar p {
  font-family: 'Playfair Display', serif;
  color: #eeeeee;
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 1.5rem 0; }

.footerBar a {
  color: #eeeeee; }

.nav li {
  font-family: 'Playfair Display', serif;
  color: #444444;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase; }
  .nav li:hover {
    color: #C03A3A;
    cursor: pointer; }

button {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase; }

.topBar {
  width: 100%;
  background: #444444;
  color: white; }
  .topBar .innerWrapper {
    display: flex;
    justify-content: space-between; }
  .topBar a, .topBar p {
    color: white; }
  .topBar ul, .topBar p {
    display: inline-block; }

ul.socialLinks {
  padding: 0; }
  ul.socialLinks li {
    list-style: none;
    display: inline-block; }

.logo {
  padding: 2rem 0;
  display: flex;
  justify-content: center; }

.headerHero {
  background-image: url("https://placebear.com/1902/500");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0; }

.heroImages {
  font-size: 0;
  position: relative; }
  .heroImages img {
    max-width: 100%; }

.heroText {
  background: white;
  border: 1rem solid #EDEDED; }
  .heroText h3 {
    margin-top: 2.5rem; }
  .heroText h4 {
    margin-bottom: 2.5rem; }

.navBar {
  background: #EDEDED;
  display: flex;
  justify-content: center; }
  .navBar .nav {
    margin: 0;
    padding: 3rem 0; }
    .navBar .nav li {
      display: inline-block;
      padding-right: 2rem; }
      .navBar .nav li:last-child {
        padding-right: 0; }

.welcome {
  margin: 8rem 0; }

.welcome .innerWrapper {
  display: flex; }
  .welcome .innerWrapper .welcomeText, .welcome .innerWrapper .welcomeVideo {
    width: calc(50% - 2rem); }
  .welcome .innerWrapper .welcomeText {
    margin-right: 2rem; }
  .welcome .innerWrapper .welcomeVideo {
    margin-left: 2rem;
    position: relative;
    cursor: pointer; }
    .welcome .innerWrapper .welcomeVideo::before {
      content: "\f144";
      font-family: FontAwesome;
      font-size: 6rem;
      color: white;
      opacity: 0.8;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .welcome .innerWrapper .welcomeVideo:hover:before {
      color: #eeeeee; }
    .welcome .innerWrapper .welcomeVideo video {
      max-width: 100%;
      height: 100%; }

.popular {
  background-image: url("../../assets/popularBackground.jpg");
  padding: 8rem 0 12rem 0; }

.popularServices {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }

.service {
  margin-right: 2rem;
  width: calc(33.33% - (2rem / 3));
  position: relative; }
  .service img {
    max-width: 100%; }
  .service:last-child {
    margin-right: 0; }
  .service:hover {
    cursor: pointer; }
    .service:hover .serviceInfo {
      border: 0.25rem solid #C03A3A; }
      .service:hover .serviceInfo button {
        background: #C03A3A; }

.serviceInfo {
  background: white;
  box-shadow: 14px 14px 20px 0px rgba(0, 0, 0, 0.36);
  width: 80%;
  padding: 2rem 1rem;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0.25rem solid #426947;
  outline: 0.5rem solid white; }

.serviceInfo button {
  border: none;
  padding: 1rem 4rem;
  background: #426947;
  position: absolute;
  width: 60%;
  left: 0;
  right: 0;
  margin: 0 auto; }

.sponsors {
  padding: 8rem 0; }
  .sponsors .innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.sponsorLogo {
  width: 20%;
  margin: 0 6rem 0 0; }
  .sponsorLogo:last-child {
    margin-right: 0; }
  .sponsorLogo img {
    width: 100%; }

.promos {
  padding: 8rem 0;
  background: #F2F2F2; }

.promotions {
  display: flex;
  margin-top: 2rem; }

.promotionOffer {
  width: 25%;
  background: white;
  margin-right: 1rem;
  padding: 1rem;
  text-align: center; }
  .promotionOffer:last-child {
    margin-right: 0; }
  .promotionOffer img {
    width: 100%; }
  .promotionOffer button {
    background: #999999;
    color: white;
    border: none;
    padding: 1rem 3rem;
    margin-bottom: 2rem; }
    .promotionOffer button:hover {
      background: #C03A3A; }

.testimonials {
  padding: 8rem 0; }
  .testimonials .innerWrapper {
    background-image: url("../../assets/testimonialBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between; }

.testimonialImage {
  width: 50%;
  display: flex;
  align-items: flex-end; }
  .testimonialImage img {
    max-width: 100%; }

.testimonialText {
  width: 50%;
  padding-left: 2rem; }

.products {
  padding: 8rem 0;
  background-image: url("../../assets/productBackground.jpg"); }
  .products .innerWrapper {
    display: flex; }

.productText {
  width: 20%;
  padding-top: 2rem; }

.productSelection {
  width: 80%;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between; }

.productInfo {
  width: 33.33%;
  margin-right: 2rem; }
  .productInfo img {
    max-width: 100%; }
  .productInfo:last-child {
    margin-right: 0; }

.blog {
  padding: 8rem 0; }

.blogFeed {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%; }

.blogPost {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .blogPost img {
    max-width: 100%; }

.blogPostImage1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1; }

.blogPostInfo1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2; }

.blogPostInfo2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1; }

.blogPostImage2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2; }

.blogPostImage3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1; }

.blogPostInfo3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2; }

.booking {
  background: #444444;
  display: flex; }

.bookingImage, .bookingText {
  width: 50%; }
  .bookingImage img, .bookingText img {
    max-width: 100%; }

.bookingText {
  padding: 3.5rem 2rem; }

.bookingForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

input {
  background: #666666;
  border: none;
  padding: 1rem 2rem;
  margin: 0 0 2rem 0;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 1.4rem;
  font-style: italic; }

input[type=submit] {
  background: #C03A3A;
  font-family: 'Poppins', serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-style: normal; }

input::placeholder {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 1.4rem;
  font-style: italic; }

input[type=text], input[type=email] {
  width: calc(50% - 1rem); }

input[type=text] {
  margin-right: 1rem; }

input[type=phone], input[type=date], input[type=submit] {
  width: calc(33.33% - 1rem);
  margin-right: 0 1rem 0 0; }
  input[type=phone]:last-child, input[type=date]:last-child, input[type=submit]:last-child {
    margin-right: 0; }

.bookingText p:first-child {
  margin-top: 1.5rem; }

.bookingText p:last-child {
  margin-bottom: 0; }

.footerLogo {
  max-width: 330px;
  margin: 2rem auto; }

.footerImages {
  display: flex;
  justify-content: space-between;
  font-size: 0; }

.instaImages {
  width: 20%; }
  .instaImages img {
    max-width: 100%; }

.footerBar {
  background-color: #444444; }
