.blog {
	padding: 8rem 0;
}

.blogFeed {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 50% 50%;
}

.blogPost {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	img {
		max-width: 100%;
	}
}

.blogPostImage1 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.blogPostInfo1 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
}

.blogPostInfo2 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.blogPostImage2 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

.blogPostImage3 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.blogPostInfo3 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.blogFeed {
		grid-template-columns: 50% 50%;
		grid-template-rows: 33.33% 33.33% 33.33%;
	}

	.blogPostInfo1 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	.blogPostInfo2 {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.blogPostImage2 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.blogPostImage3 {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 3;
	}

	.blogPostInfo3 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 3;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.blogFeed {
		display: flex;
		flex-wrap: wrap;
	}

	.blogPost {
		width: 100%;
	}

	.blogPostImage1 {
		order: 1;
	}

	.blogPostInfo1 {
		order: 2;
	}

	.blogPostImage2 {
		order: 3;
	}

	.blogPostInfo2 {
		order: 4;
	}

	.blogPostImage3 {
		order: 5;
	}

	.blogPostInfo3 {
		order: 6;
	}
}
