.topBar {
	width: 100%;
	background: $darkGrey;
	color: white;
	.innerWrapper {
		display: flex;
		justify-content: space-between;
	}
	a, p {
		color: white;
	}
	ul, p {
		display: inline-block;
	}
}

ul.socialLinks {
	padding: 0;
	li {
		list-style: none;
		display: inline-block;
	}
}

// LOGO

.logo {
	padding: 2rem 0;
	display: flex;
	justify-content: center;
}

// HEADER SLIDER

.headerHero {
	background-image: url('https://placebear.com/1902/500');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10rem 0;
}

.heroImages {
	font-size: 0;
	position: relative;
	img {
		max-width: 100%;
	}
}

.heroText {
	background: white;
	border: 1rem solid $lightGrey;
	h3 {
		margin-top: 2.5rem;
	}
	h4 {
		margin-bottom: 2.5rem;
	}
}

// NAVIGATION

.navBar {
	background: $lightGrey;
	display: flex;
	justify-content: center;
	.nav {
		margin: 0;
		padding: 3rem 0;
		li {
			display: inline-block;
			padding-right: 2rem;
			&:last-child {
				padding-right: 0;
			}
		}
	}
}
