.products {
	padding: 8rem 0;
	background-image: url('../../assets/productBackground.jpg');
	.innerWrapper {
		display: flex;
	}
}

.productText {
	width: 20%;
	padding-top: 2rem;
}

.productSelection {
	width: 80%;
	padding-left: 2rem;
	display: flex;
	justify-content: space-between;
}

.productInfo {
	width: 33.33%;
	margin-right: 2rem;
	img {
		max-width: 100%;
	}
	&:last-child {
		margin-right: 0;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.products .innerWrapper {
		display: block;
	}
	.productText, .productSelection {
		width: 100%;
		padding: 0;
	}
	.productText {
		margin-bottom: 2rem;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.productSelection {
		display: block;
	}

	.productInfo {
		width: 100%;
		margin-right: 0;
		img {
			width: 100%;
		}
	}
}
