.promos {
	padding: 8rem 0;
	background: #F2F2F2;
}

.promotions {
	display: flex;
	margin-top: 2rem;
}

.promotionOffer {
	width: 25%;
	background: white;
	margin-right: 1rem;
	padding: 1rem;
	text-align: center;
	&:last-child {
		margin-right: 0;
	}
	img {
		width: 100%;
	}
	button {
		background: #999999;
		color: white;
		border: none;
		padding: 1rem 3rem;
		margin-bottom: 2rem;
		&:hover {
			background: $red;
		}
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.promotions {
		flex-wrap: wrap;
	}
	.promotionOffer {
		width: calc(50% - 1rem);
		margin-bottom: 1rem;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}
