.sponsors {
	padding: 8rem 0;
	.innerWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.sponsorLogo {
	width: 20%;
	margin: 0 6rem 0 0;
	&:last-child {
		margin-right: 0;
	}
	img {
		width: 100%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.sponsors .innerWrapper {
		flex-wrap: wrap;
		justify-content: center;
	}
	.sponsorLogo {
		margin: 1rem 0;
		width: 30%;
		img {
			padding: 0 2rem;
		}
	}
}
