.testimonials {
	padding: 8rem 0;
	.innerWrapper {
		background-image: url('../../assets/testimonialBackground.png');
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;
	}
}

.testimonialImage {
	width: 50%;
	display: flex;
	align-items: flex-end;
	img {
		max-width: 100%;
	}
}

.testimonialText {
	width: 50%;
	padding-left: 2rem;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.testimonials .innerWrapper {
		flex-wrap: wrap;
	}
	.testimonialImage, .testimonialText {
		width: 100%;
	}
	.testimonialText {
		margin-top: 2rem;
	}
}
